.parentDiv {
    border-bottom: 1px solid blue;
    margin-top: 10px;
}

img {
    width: 50px;
    vertical-align: middle;
}

.companyName {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}

#myData {
    padding: 50px;
}