.divMovie {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 8px 0px black;
    width: 185px;
}

.divMovie h3 {
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}