body {
    font-family: 'Montserrat',
        sans-serif;
}

.helloMan {
    background-color: green;
    height: 100px;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
}

div {
    background-color: violet;
    height: 100px;
    width: 100px;
    /* margin-top: 10px; */
    padding-left: 10px;
    border: 1px solid black;
    overflow: hidden;
}

div div {
    /* background-color: black; */
    color: black;
    height: 200px;
    /* width: 200px; */
    font-family: monospace;
    background-image: url('http://cdn.shopify.com/s/files/1/0986/5790/products/HelloDecal-PRINT_grande.png?v=1481472974');
    background-size: contain;
}

.divBlock {
    color: red;
}

.block {
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    border: 1px solid black;
    display: inline-block;
}

.firstBlock {
    /* margin-top: 120px; */
}