.one {
    background: red;
    width: 100px;
    height: 100px;
    position: relative;
    top: 10px;
}

.two {
    background: green;
    /* position: fixed; */
    /* top: 0; */
    width: 100px;
    height: 100px;
}

.three {
    background: blue;
    width: 100px;
    height: 100px;
}

.four {
    background: blueviolet;
    float: left;
    width: 100px;
    height: 100px;
}

.five {
    background: lightsalmon;
    float: right;
    width: 100px;
    height: 100px;
}


.parent {
    height: 200px;
    width: 100px;
    background: aqua;
}

.six {
    background: chartreuse;
    width: 100px;
    height: 100px;
}

div {}