.hello {
    background-color: red;
}

body {
    max-width: 100%;
}

.column {
    background: lightgray;
}

@media(max-width:1024px) {
    .hello {
        background: aqua;
    }
}

@media(max-width:768px) {
    .hello {
        background: green;
    }
}

@media(max-width:566px) {
    .hello {
        background: navy;
    }
}